@mixin button-size($padding-y, $padding-x, $font-size, $border-raduis) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
  border-radius: $border-raduis;
}

@mixin button-style(
  $background,
  $border,
  $color,
  $hover-background: lighten($background, 7.5%),
  $hover-border: lighten($border, 70%),
  $hover-color: $color
) {
  color: $color;
  background: $background;
  border-color: $border;

  /*鼠标悬浮，没有按下；鼠标按下后抬起，没有移开*/
  &:hover,
  &:focus,
  &.focus {
    border-radius: 7px;
    color: $hover-color;
    background: $hover-background;
    border-color: $hover-border;
  }
  /*鼠标按下，没有抬起*/
  &:active {
    background: $hover-color;
    color: $hover-background;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }

  &:disabled,
  &.disabled {
    color: $color;
    background: $background;
    border-color: $border;
  }
}

@mixin zoom-animation(
  $direction: 'top',
  $scaleStart: scaleY(0),
  $scaleEnd: scaleY(1),
  $origin: center top
) {
  .zoom-in-#{$direction}-enter {
    opacity: 0;
    transform: $scaleStart;
  }
  .zoom-in-#{$direction}-enter-active {
    opacity: 1;
    transform: $scaleEnd;
    transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms,
      opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
    transform-origin: $origin;
  }
  .zoom-in-#{$direction}-exit {
    opacity: 1;
  }
  .zoom-in-#{$direction}-exit-active {
    opacity: 0;
    transform: $scaleStart;
    transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms,
      opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
    transform-origin: $origin;
  }
}

@mixin border-right-radius($raduis) {
  border-top-right-radius: $raduis;
  border-bottom-right-radius: $raduis;
}

@mixin border-left-radius($raduis) {
  border-top-left-radius: $raduis;
  border-bottom-left-radius: $raduis;
}

/* 鼠标点下之后，再移开时的样式 */
.btn-primary:focus:not(.btn-primary:hover) {
  color: #fff;
  background: #0d6efd;
  border-color: #0d6efd;
  border-radius: 2px;
}

.btn-danger:focus:not(.btn-danger:hover) {
  color: #fff;
  background: #dc3545;
  border-color: #dc3545;
  border-radius: 2px;
}

.btn-default:focus:not(.btn-default:hover) {
  color: #212529;
  background: #fff;
  border: 1px solid #ced4da;
  border-radius: 2px;
}
